<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">
    <listeners>
        <listener class-name="resources.Listeners"/>
        <listener class-name="resources.ExtentReporterNG"/>
    </listeners>
    <test name="GeneralStoreTest">
        <classes>
            <class name="com.AppiumFramework.TS01_TotalAmount"/>
        </classes>
    </test>
</suite>